*.swp
*.ninja
.ninja*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
libskia.*
example
example.png
include
skia_compile_arguments.txt
.DS_Store
build/
.idea/
.cache/
.vscode/
cmake-build-debug/
.clang-tidy
target/